elder-care-backend/.idea/elder-care-backend.iml
elder-care-backend/.idea/go.imports.xml
elder-care-backend/.idea/inspectionProfiles/Project_Default.xml
elder-care-backend/.idea/modules.xml
elder-care-backend/.idea
elder-care-backend/build
elder-care-backend/cmd/elder_care_backend
